# Allow from all
Order Deny,Allow
Allow from all

# Enable PHP 5
SetEnv PHP_VER 5_3

# Désactive le listing des répertoires
Options -Indexes

# On active le suivi des liens
Options FollowSymLinks

# Charset
AddDefaultCharset UTF-8

# Handle HTML files as PHP
AddHandler application/x-httpd-php .html .htm

# PHP configuration
<IfModule mod_php5.c>
    php_value short_open_tag 1
</IfModule>

# Errors
#ErrorDocument 403 error.html?e=403&m=Forbidden
#ErrorDocument 404 error.html?e=404&m=Not+Found

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ system/index.php?p=$1 [NC,L,QSA]

# HTTP Authentication support
#RewriteCond %{HTTP:Authorization} ^(.*)
#RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization},L]

